@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html {
  line-height: 1.25;
}

body {
  margin: 0;
  /* font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif; */
  font-family: 'Didact Gothic', sans-serif;
   background-color: black;
   overflow-x: hidden;
   width: 100%;
   box-sizing: border-box;
   color:white;
}

::-webkit-scrollbar {
  display: none;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin-top: 10px;
  display: block;
  width: 90%;
  padding: 6px;
}

.label {
  display: block;
}

.adminContainer {
display: flex;
}

.formContainer {
  width: 50%;
  margin-right: 300px;
  padding-left: 1.2rem;
}

.uploadContainer {
  width: 50%;
  padding: 1.4rem;
}


.mainImgs {
  width: 400px;
  height: auto;
}

.otherImgs {
  width: 250px;
  height: auto;
}

.imageGrid {
  display: flex;
  box-sizing: border-box;
} 

.infoWrap {
  margin-bottom: 40px;
  padding: 1rem;
  transition: ease-in;
  transition-duration: 0.2s;
}

.infoWrap:hover {
  transform: translateY(0.8rem);
  opacity: 0.6;
}

.detailImgs {
  display: inline;
  padding: 1.3rem;
}


.loader {
  border: 3px blue solid;
} 

.navLinkWrap {
  text-align: center;
  
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
    margin-top: -16%;
    margin-left: 35rem;
    color: transparent;
}


.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 1s;
    margin-top: 2px;
    margin-left: -32px;
    position: absolute;
    width: 30px;
    z-index: 1;
}


.hexaBtn {
  z-index: 10;
  color: transparent;
  opacity: 0.3;
}

.hexaBtn:hover {
  opacity: 0.55;
  transition: 0.5s;
  z-index: 10;
}

.right-icon {
  margin-top: -7.6%;
  margin-left: 6.8%;
}

.right-icon:hover {
  opacity: 0.55;
  transition: 0.5s;
}

animate__animated.animate__backInUp {
    --animate-duration: 3.5s;
    --animate-delay: 4s;
    
}

/* logos */

#modelBMW {
  z-index: 1;
}
#modelBMWMask {
  z-index: 1;
}

#modelMerc {
  z-index: -1;
}
#modelMercMask {
  z-index: -1;
}

#modelAudi {
  z-index: 20;
}
#modelAudiMask {
  z-index: 20;
}
#modelFerrari {
  z-index: 30;
}
#modelNissan {
  z-index: 40;
}
#modelNissanMask {
  z-index: 40;
}
#modelJeep {
  z-index: 50;
}
#modelJeepMask {
  z-index: 50;
}
#modelKia {
  z-index: 60;
}
#modelFord {
  z-index: 70;
}
#modelLandRover {
  z-index: 80;
}
#modelPorsche {
  z-index: 90;
}
#modelLamborghini {
  z-index: 100;
}
#modelMaserati {
  z-index: 110;
}
#modelVW {
  z-index: 120;
}
#modelSubaru {
  z-index: 130;
}

#modelsWrap {
  background-image: url('./images/others/modelback2b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 130vh;
  width: 110vw;
  margin-left: -60px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.mainTextVid {
  color: silver;
  position: relative;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7.5rem;
  display: 'flex',
}

.mainTextVid2 {
  color: silver;
  position: relative;
  font-size: 7.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.subTextWrap {
  margin-top: -600px;
  position: absolute;
  width: 100%;
  height: 10%;
  float: right;
  margin-left: 630px;
  z-index: 100;
}

.subTextWrap > h2 {
  position: absolute;
  color: silver;
  font-size: 2.2rem;
  top: 0;
  /* left: calc(10% - 100px); */
  opacity: 0;
  animation: display 12s infinite;
  text-transform: uppercase;
}

h2:nth-child(2) {
  animation-delay: 8s;
}
h2:nth-child(3) {
  animation-delay: 16s;
}
h2:nth-child(4) {
  animation-delay: 24s;
}
h2:nth-child(5) {
  animation-delay: 24s;
}

#lastTextChild {
  margin-left: 200px;
}

.vidText {
  font-weight: 400;
}

.vidBtn {
  height: auto;
  width: 200px;
  position: absolute;
  margin-top: -380px;
  margin-left: 570px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 3px solid whitesmoke;
  padding: 20px 40px 20px 40px;
  animation: btnhover 1s ease-in-out;
  transition: 0.6s;
}

@keyframes btnhover {
  from {
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

.vidBtn:hover {
  color: black;
  background-color: white;
  transition: 0.6s;
  opacity: 0.5;
  transform: scale(0.95);
}

.zoomed1Text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-left: 260px;
  margin-top: -300px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 4rem;
}

.zoomed2Text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-left: 280px;
  margin-top: -300px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 4rem;
}

.zoomedOneSubText * {
  display: none;
}

.zoomedTwoSubText * {
  display: none;
}

.zoomedOneSubText {
  position: relative;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  transition: 1s;
  animation: ease-in-out;
  opacity: 1;
  text-decoration: none;
}

.zoomedTwoSubText {
  position: relative;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  transition: 1s;
  animation: ease-in-out;
  opacity: 1;
  text-decoration: none;
}

.zoomedOneSubText:hover {
  transform: scale(1.1);
  font-weight: 500;
  opacity: 0.7;
  cursor: pointer;
}

.zoomedTwoSubText:hover {
  transform: scale(1.1);
  font-weight: 500;
  opacity: 0.7;
  cursor: pointer;
}

.zoomedOneSubText:hover * {
  display: inline-block;
}

.zoomedTwoSubText:hover * {
  display: inline-block;
}

.zoomedIcon1 {
  padding-left: 0.6rem;
  height: 100%;
  width: auto;
}