@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html {
  line-height: 1.25;
}

body {
  margin: 0;
  /* font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif; */
  font-family: 'Didact Gothic', sans-serif;
   background-color: black;
   overflow-x: hidden;
   width: 100%;
   box-sizing: border-box;
   color:white;
}

::-webkit-scrollbar {
  display: none;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin-top: 10px;
  display: block;
  width: 90%;
  padding: 6px;
}

.label {
  display: block;
}

.adminContainer {
display: flex;
}

.formContainer {
  width: 50%;
  margin-right: 300px;
  padding-left: 1.2rem;
}

.uploadContainer {
  width: 50%;
  padding: 1.4rem;
}


.mainImgs {
  width: 400px;
  height: auto;
}

.otherImgs {
  width: 250px;
  height: auto;
}

.imageGrid {
  display: flex;
  box-sizing: border-box;
} 

.infoWrap {
  margin-bottom: 40px;
  padding: 1.2rem;
  display: block;
}

.detailImgs {
  display: inline;
  padding: 1.3rem;
}


.loader {
  border: 3px blue solid;
} 

/* #nav-signUp {
  float: right;
} */

/* #nav-buyNow {
  float: left;
  padding-top: 1.5rem;
} */

.navLinkWrap {
  text-align: center;
  
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
    margin-top: -16%;
    margin-left: 35rem;
    color: transparent;
}


.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 1s;
    margin-top: 2px;
    margin-left: -32px;
    position: absolute;
    width: 30px;
    z-index: 1;
}


.hexaBtn {
  z-index: 10;
  color: transparent;
  opacity: 0.3;
}

.hexaBtn:hover {
  opacity: 0.55;
  transition: 0.5s;
  z-index: 10;
}

.right-icon {
  margin-top: -7.6%;
  margin-left: 6.8%;
}

.right-icon:hover {
  opacity: 0.55;
  transition: 0.5s;
}

animate__animated.animate__fadeInDownBig {
    --animate-duration: 3.5s;
    --animate-delay: 4s;
}


/* logos */

#modelBMW {
  z-index: 1;
}
#modelBMWMask {
  z-index: 1;
}

#modelMerc {
  z-index: -1;
}
#modelMercMask {
  z-index: -1;
}

#modelAudi {
  z-index: 20;
}
#modelAudiMask {
  z-index: 20;
}
#modelFerrari {
  z-index: 30;
}
#modelNissan {
  z-index: 40;
}
#modelNissanMask {
  z-index: 40;
}
#modelJeep {
  z-index: 50;
}
#modelJeepMask {
  z-index: 50;
}
#modelKia {
  z-index: 60;
}
#modelFord {
  z-index: 70;
}
#modelLandRover {
  z-index: 80;
}
#modelPorsche {
  z-index: 90;
}
#modelLamborghini {
  z-index: 100;
}
#modelMaserati {
  z-index: 110;
}
#modelVW {
  z-index: 120;
}
#modelSubaru {
  z-index: 130;
}

#modelsWrap {
  background-image: url('./images/others/modelback2b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  width: 110vw;
  margin-left: -60px;
}


.outerContainer {
  /* height: 100vh; */
}
