@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

html {
  line-height: 1.25;
}

body {
  margin: 0;
  /* font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif; */
  font-family: 'Didact Gothic', sans-serif;
   background-color: black;
   overflow-x: hidden;
   width: 100vw;
   box-sizing: border-box;
   color:white;
}

::-webkit-scrollbar {
  display: none;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  margin-top: 10px;
  display: block;
  width: 90%;
  padding: 6px;
}

.label {
  display: block;
}

.adminContainer {
display: flex;
}

.uploadContainer {
  width: 50%;
  padding: 1.4rem;
}


.mainImgs {
  width: 400px;
  height: auto;
}

.otherImgs {
  width: 250px;
  height: auto;
}

.imageGrid {
  display: flex;
  box-sizing: border-box;
} 

.masonryContainer {
  padding-top: 10vh;
}

.infoWrap {
  margin-bottom: 40px;
  padding: 1rem;
  transition: ease-in;
  transition-duration: 0.2s;
}

.infoWrap:hover {
  transform: translateY(0.8rem);
  opacity: 0.6;
}

.detailImgs {
  display: inline;
  padding: 1.3rem;
}


.loader {
  border: 3px blue solid;
} 

.navLinkWrap {
  text-align: center;
  
}

.animate__animated.animate__fadeInLeft {
    --animate-duration: 1.5s;
    margin-top: -12%;
    margin-left: 28rem;
    color: transparent;
    transition: 1s;
}


.animate__animated.animate__lightSpeedInLeft {
  --animate-duration: 1s;
    margin-top: 50px;
    margin-left: -75px;
    position: absolute;
    width: 30px;
    height: auto;
    z-index: 1;
}


.hexaBtn {
  z-index: 10;
  color: transparent;
  opacity: 0.3;
}

@media (max-width: 980px) {
  #mainHomeBtn {
    display: none;
  }
}

/* .hexaBtn:hover {
  opacity: 0.5;
} */

.right-icon {
  position: absolute;
  margin-top: -7.6%;
  margin-left: 6.8%;
  height: auto;
  width: 20px;
  transition: 0.9s;
  transform-origin: center;
  color: white;
}

.right-icon:hover {
  opacity: 0.8;
  color: #e0e0e0;
}

animate__animated.animate__backInUp {
    --animate-duration: 3.5s;
    --animate-delay: 4s;
    
}

/* logos */

#modelBMW {
  z-index: 1;
}
#modelBMWMask {
  z-index: 1;
}

#modelMerc {
  z-index: -1;
}
#modelMercMask {
  z-index: -1;
}

#modelAudi {
  z-index: 20;
}
#modelAudiMask {
  z-index: 20;
}
#modelFerrari {
  z-index: 30;
}
#modelNissan {
  z-index: 40;
}
#modelNissanMask {
  z-index: 40;
}
#modelJeep {
  z-index: 50;
}
#modelJeepMask {
  z-index: 50;
}
#modelKia {
  z-index: 60;
}
#modelFord {
  z-index: 70;
}
#modelLandRover {
  z-index: 80;
}
#modelPorsche {
  z-index: 90;
}
#modelLamborghini {
  z-index: 100;
}
#modelMaserati {
  z-index: 110;
}
#modelVW {
  z-index: 120;
}
#modelSubaru {
  z-index: 130;
}

.modelsWrap {
  position: relative;
  height: 100vh;
  width: 110vw;
  margin-top: 50px;
}

@media (max-width: 646px) {
  .modelsWrap {
    margin-left: 0px;
  }
}

.modelsWrap:before {
  content: '';  
  position: absolute;
  background-image: url('./images/others/modelback2b.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4; 
  height: 100vh;
  width: 100vw;
  z-index: -1;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .modelsWrap:before {
    background-image: url('./images/landing/models_small.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -20px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 20px; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.mainTextVid {
  color: silver;
  position: relative;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 7.5rem;
  display: 'flex',
}

.mainTextVid2 {
  color: silver;
  position: relative;
  font-size: 7.5rem;
  letter-spacing: 0.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1224px) {
  .mainTextVid {
    font-size: 5.5rem;
  }

  .mainTextVid2 {
    font-size: 5.5rem;
  }
}

@media (max-width: 1100px) {
  .mainTextVid {
    font-size: 4.7rem;
  }

  .mainTextVid2 {
    font-size: 4.7rem;
  }
}

@media (max-width: 1024px) {
  .mainTextVid {
    font-size: 4.2rem;
  }

  .mainTextVid2 {
    font-size: 4.2rem;
  }
}

@media (max-width: 980px) {
  .mainTextVid {
    font-size: 4rem;
  }

  .mainTextVid2 {
    font-size: 4rem;
  }
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.subTextWrap {
  margin-top: -600px;
  position: absolute;
  width: 100%;
  height: 10%;
  float: right;
  margin-left: 630px;
  z-index: 100;
}


@media (max-width: 800px) {
  .subTextWrap {
    display: none;
  }

  .vidBtn {
    display: none;
  }
}

.subTextWrap > h2 {
  position: absolute;
  color: silver;
  font-size: 2.2rem;
  top: 0;
  /* left: calc(10% - 100px); */
  opacity: 0;
  animation: display 12s infinite;
  text-transform: uppercase;
}

@media (max-width: 1360px) {
  .subTextWrap > h2 {
    font-size: 1.6rem;
  }
}

@media (max-width: 1224px) {
  .subTextWrap {
    margin-top: -400px;
    margin-left: 540px;
  }

  .subTextWrap > h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1100px) {
  .subTextWrap {
    margin-top: -400px;
    margin-left: 450px;
  }

  .subTextWrap > h2 {
    font-size: 1.3rem;
  }
}

@media (max-width: 1024px) {
  .subTextWrap {
    margin-top: -370px;
    margin-left: 450px;
  }
  .subTextWrap > h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 980px) {
  .subTextWrap {
    margin-top: -330px;
    margin-left: 390px;
  }
  .subTextWrap > h2 {
    font-size: 1.1rem;
  }
}

h2:nth-child(2) {
  animation-delay: 8s;
}
h2:nth-child(3) {
  animation-delay: 16s;
}
h2:nth-child(4) {
  animation-delay: 24s;
}
h2:nth-child(5) {
  animation-delay: 24s;
}

#lastTextChild {
  margin-left: 200px;
}

.vidText {
  font-weight: 400;
}

.vidBtn {
  height: auto;
  width: 200px;
  position: absolute;
  margin-top: -380px;
  margin-left: 570px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  text-decoration: none;
  border: 3px solid whitesmoke;
  padding: 20px 40px 20px 40px;
  animation: btnhover 1s ease-in-out;
  transition: 0.6s;
}

@media (max-width: 1224px) {
  .vidBtn {
    margin-top: -270px;
    margin-left: 500px;
  }
}

@media (max-width: 1100px) {
  .vidBtn {
    margin-top: -270px;
    margin-left: 370px;
  }
}

@media (max-width: 1024px) {
  .vidBtn {
    margin-top: -250px;
    margin-left: 320px;
  }
}

@media (max-width: 980px) {
  .vidBtn {
    margin-top: -200px;
    margin-left: 300px;
  }
}

@keyframes btnhover {
  from {
    color: white;
  }
  to {
    background-color: white;
    color: black;
  }
}

.vidBtn:hover {
  color: black;
  background-color: white;
  transition: 0.6s;
  opacity: 0.5;
  transform: scale(0.95);
}

.zoomed1Text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-left: 260px;
  margin-top: -300px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 4rem;
  transition: .8s;
  animation: ease-in-out;
}

.zoomed1Text:hover {
  transform: scale(0.95);
  color: #bbbbbb;
}

.zoomed2Text {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  margin-left: 280px;
  margin-top: -300px;
  font-weight: 300;
  white-space: nowrap;
  font-size: 4rem;
  transition: .8s;
  animation: ease-in-out;
}

.zoomed2Text:hover {
  transform: scale(0.95);
  color: #bbbbbb;
}

.zoomedOneSubText * {
  display: none;
}

.zoomedTwoSubText * {
  display: none;
}

.zoomedOneSubText {
  position: relative;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  transition: 1s;
  animation: ease-in-out;
  opacity: 1;
  text-decoration: none;
}

.zoomedTwoSubText {
  position: relative;
  text-align: center;
  display: flex;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  transition: 1s;
  animation: ease-in-out;
  opacity: 1;
  text-decoration: none;
}

.zoomedOneSubText:hover {
  transform: scale(1.1);
  font-weight: 500;
  opacity: 0.7;
  cursor: pointer;
}

.zoomedTwoSubText:hover {
  transform: scale(1.1);
  font-weight: 500;
  opacity: 0.7;
  cursor: pointer;
}

.zoomedOneSubText:hover * {
  display: inline-block;
}

.zoomedTwoSubText:hover * {
  display: inline-block;
}

.zoomedIcon1 {
  padding-left: 0.6rem;
  height: 100%;
  width: auto;
}

#preload-title {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline;
  text-align: center;
  margin: 0;
  overflow: hidden;
}


/* loader styles */

/* loader text */
.load-letters {
margin: 0;
padding: 0;
font-family: ‘Arial Narrow’, sans-serif;
font-weight: 100;
font-size: 3.0rem;
color: #bbbbbb;
opacity: 0.6;
}

.span {
position: relative;
top: 0.63em;  
display: inline-block;
text-transform: uppercase;  
transform: rotateX(-90deg);
}

#let1 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.1s;
}

#let2 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.2s;
}

#let3 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.3s;
}

#let4 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.4s;
}

#let5 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.5s;
}

#let6 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.6s;
}

#let7 {
animation: drop 1.2s ease-in-out infinite;
animation-delay: 0.7s;
}

@keyframes drop {
  10% {
      opacity: 0.5;
  }
  20% {
      opacity: 1;
      top: 3.78em;
      transform: rotateX(-360deg);
  }
  80% {
      opacity: 1;
      top: 3.78em;
      transform: rotateX(-360deg);
  }
  90% {
      opacity: 0.5;
  }
  100% {
      opacity: 0;
      top: 6.94em
  }
}

/* loader icons */
.loader-start {
  color: #fff;
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 100px;
  opacity: 0.7;
  align-items: center;
  text-align: center;
  position: absolute;
  margin-top: 250px;
  margin-left: 46%;

}
.loader-start:before {
  content: "{";
  display: inline-block;
  animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader-start:after {
  content: "}";
  display: inline-block;
  animation: pulse 0.4s 0.3s alternate infinite ease-in-out;
}

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.4;
  }
}

.detailsContainer {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.imageContainer {
  padding-top: 10vh;
}

.alice-carousel .animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.alice-carousel .animated-out {
  z-index: 1; }

.alice-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.alice-carousel {
  position: relative;
  width: 100%;
  margin: auto;
  direction: ltr; }

.alice-carousel__wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
  width: 100%;
  height: auto; }

.alice-carousel__stage {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  transform-style: flat;
  -webkit-transform-style: flat;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  .alice-carousel__stage-item {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    vertical-align: top;
    white-space: normal;
    line-height: 0; }
    .alice-carousel__stage-item * {
      line-height: initial; }
    .alice-carousel__stage-item.__hidden {
      opacity: 0;
      overflow: hidden; }

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 10px 5px; }
  .alice-carousel__prev-btn [data-area]::after,
  .alice-carousel__next-btn [data-area]::after {
    position: relative;
    content: attr(data-area);
    text-transform: capitalize; }

.alice-carousel__prev-btn {
  text-align: right; }

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  display: inline-block;
  cursor: pointer;
  padding-right: 60px;
  font-size: 3rem;
  margin: 0;
  color: #dbdbdb; }
  .alice-carousel__prev-btn-item:hover,
  .alice-carousel__next-btn-item:hover {
    color: gold; }
  .alice-carousel__prev-btn-item.__inactive,
  .alice-carousel__next-btn-item.__inactive {
    opacity: 0.4;
    pointer-events: none; }

.alice-carousel__play-btn {
  position: absolute;
  top: 30px;
  left: 20px;
  display: inline-block; }
  .alice-carousel__play-btn:hover {
    cursor: pointer; }
  .alice-carousel__play-btn-wrapper {
    position: relative;
    width: 32px;
    height: 32px;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff; }

.alice-carousel__play-btn-item {
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 0;
  outline: none;
  background: transparent; }
  .alice-carousel__play-btn-item::before, .alice-carousel__play-btn-item::after {
    position: absolute;
    pointer-events: none;
    display: block;
    width: 0;
    height: 0;
    content: '';
    transition: all 0.4s linear;
    border-width: 8px 0 8px 15px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #465798; }
  .alice-carousel__play-btn-item::before {
    left: 5px;
    height: 14px; }
  .alice-carousel__play-btn-item::after {
    top: 7px;
    left: 18px; }
  .alice-carousel__play-btn-item.__pause::before, .alice-carousel__play-btn-item.__pause::after {
    height: 30px;
    border-width: 0 0 0 10px; }
  .alice-carousel__play-btn-item.__pause::after {
    top: 0;
    left: 18px; }

.alice-carousel__dots {
  margin: 30px 3px 5px;
  padding: 0;
  list-style: none;
  text-align: center; }
  .alice-carousel__dots > li {
    display: inline-block; }
  .alice-carousel__dots-item:not(.__custom) {
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e0e4fb; }
    .alice-carousel__dots-item:not(.__custom):not(:last-child) {
      margin-right: 20px; }
    .alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active {
      background-color: #6e7ebc; }

.alice-carousel__slide-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  padding: 5px 10px;
  color: #465798;
  border-radius: 5px;
  background-color: rgba(224, 228, 251, 0.6); }
  .alice-carousel__slide-info-item {
    vertical-align: middle;
    line-height: 0; }



.detailsMain {
  font-size: 2rem;
  color: gold;
  text-transform: uppercase;
}

.detailsColWrap {
  display: inline-flex;
  padding-bottom: 10vh;
}

.detailsColMain {
  display: inline-flex;
  background-color: #121212;
  border-radius: 50px;
  border: 1px solid #dbdbdb7f;
  padding: 2rem;
  margin-top: 1vh;
  width: 100%;
}

@media (max-width: 1050px) {
  .detailsColWrap {
    display: block;
  }
  .detailsColMain {
    display: block;
    width: 50%;
  }
}

.detailsCol {
  width: 30vw;
}

.detailsMore {
  width: 100%;
}

.detailsHeading {
  margin-top: 6vh;
  margin-left: 2rem;
  text-transform: uppercase;
  font-style: italic;
  padding: 1px;
  text-decoration: underline dotted #bbbbbb;
  text-underline-offset: 4px;
  font-size: 1.2rem;
}

.detailEach {
  display: flex;
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 50px;
  padding-left: 2rem;
}

.detailCategory {
  font-size: 1.2rem;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 10vw;
  opacity: 0.8;
}

.detailValue {
  font-size: 1.2rem;
  padding-left: 2vw;
  text-align: left;
  width: 10vw;
  font-weight: 700;
  letter-spacing: .05em;
}

.detailsPurchase {
  float: right;
  position: relative;
  margin-left: 10vw;
  margin-top: 1vh;
  width: 20vw;
  background-color: #121212;
  border-radius: 50px;
  border: 1px solid #dbdbdb7f;
}

@media (max-width: 1050px) {
  .detailsPurchase {
    float: left;
    width: 55%;
    margin-left: 1vw;
    margin-top: 5vh;
  }

  .detailCategory {
    width: 28vw;
  }

  .detailValue {
    padding-left: 6vw;
    width: 22vw;
  }
}

@media (max-width: 800px) {
  .detailCategory {
    font-size: 1rem;
  }

  .detailValue {
    font-size: 1rem;
  }

  .detailEach {
    padding-left: 0;
  }

  .detailsColMain {
    padding: 1rem;
    width: 70%;
  }

  .detailsCol {
    width: 70vw;
  }
}

@media (max-width: 470px) {
  .detailsColMain {
    padding: 1rem;
    width: 80%;
  }
}

.detailsInsurance, .detailsInspection, .detailsFreight, .detailsFinal, .detailsOrigPrice {
  display: flex;
  padding-bottom: 20px;
  margin: 0;
  padding-top: 0;
}

.detailsOrigPrice > h5 {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 1.25rem;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 5vw;
}

.detailsOrigPriceValue {
  margin: 0;
  padding-top: 20px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  width: 5vw;
  letter-spacing: .06em;
}

@media (max-width: 1050px) {
  .detailsOrigPriceValue {
    padding-left: 160px;
  }
}

.detailsInspection > h5 {
  font-size: 1.15rem;
  padding-top: 10px;
  padding-left: 20px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 5vw;
}

.detailsInspectionValue {
  margin: 0;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  width: 5vw;
  letter-spacing: .06em;
}

@media (max-width: 1050px) {
  .detailsInspectionValue {
    padding-left: 160px;
  }
}

.detailsFreight > h5 {
  font-size: 1.15rem;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 5vw;
}

.detailsFreightValue {
  margin: 0;
  padding-top: 10px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  width: 7vw;
  letter-spacing: .06em;
}

@media (max-width: 1050px) {
  .detailsFreightValue {
    padding-left: 160px;
  }
}

.detailsFinal > h5 {
  font-size: 1.15rem;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 5vw;
}

.detailsInsurance > h5 {
  font-size: 1.15rem;
  padding-left: 20px;
  padding-top: 10px;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  color: #dbdbdb;
  font-weight: 300;
  font-style: italic;
  width: 5vw;
}

.detailsInsuranceValue {
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  font-size: 1.25rem;
  text-align: left;
  font-weight: 700;
  width: 5vw;
  letter-spacing: .06em;
}

@media (max-width: 1050px) {
  .detailsInsuranceValue {
    padding-left: 160px;
  }
}

.detailsTotalPrice {
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  font-size: 1.3rem;
  text-align: left;
  font-weight: 700;
  width: 5vw;
  color: gold;
  letter-spacing: .06em;
}

@media (max-width: 1050px) {
  .detailsTotalPrice {
    padding-left: 160px;
  }
}

@media (max-width: 800px) {
  .detailsPurchase {
    width: 75%;
  }
}

@media (max-width: 470px) {
  .detailsPurchase {
    width: 85%;
  }
}

@media (max-width: 380px) {
  .detailsOrigPrice > h5 {
    font-size: 1.05rem;
  }

  .detailsOrigPriceValue {
    font-size: 1.1rem;
  }

  .detailsInspection > h5 {
    font-size: 1.05rem;
  }

  .detailsInspectionValue {
    font-size: 1.1rem;
  }

  .detailsFreight > h5 {
    font-size: 1.05rem;
  }

  .detailsFreightValue {
    font-size: 1.05rem;
  }

  .detailsFinal > h5 {
    font-size: 1.05rem;
  }

  .detailsInsurance > h5 {
    font-size: 1.05rem;
  }

  .detailsTotalPrice {
    font-size: 1.1rem;
  }

  .detailsInsuranceValue {
    font-size: 1.1rem;
  }
}

@media (max-width: 350px) {
  .detailsOrigPrice > h5 {
    font-size: .8rem;
  }

  .detailsOrigPriceValue {
    font-size: .8rem;
    padding-left: 80px;
  }

  .detailsInspection > h5 {
    font-size: .8rem;
  }

  .detailsInspectionValue {
    font-size: .8rem;
    padding-left: 80px;
  }

  .detailsFreight > h5 {
    font-size: .8rem;
  }

  .detailsFreightValue {
    font-size: .8rem;
    padding-left: 80px;
  }

  .detailsFinal > h5 {
    font-size: .8rem;
  }

  .detailsInsurance > h5 {
    font-size: .8rem;
  }

  .detailsTotalPrice {
    font-size: .8rem;
    padding-left: 80px;
  }

  .detailsInsuranceValue {
    font-size: .8rem;
    padding-left: 80px;
  }

  .detailCategory {
    font-size: .8rem;
  }

  .detailValue {
    font-size: .8rem;
  }
}

.detailsFooter {
  width: 100vw;
  display: block;
  margin-left: -2vw;
}



input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
  font-size: 0.75em;
  color: #999;
  top: -5px;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

input,
textarea {
    padding: 16px;
    border: 0;
    width: 60%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: #dbdbdb;
    opacity: .8;
    border-radius: 16px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 60%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 60%;
    min-height: 8em;
    padding-top: 20px;
    margin-top: 10px;

}

.submitBtn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
}


.formHeading {
  text-transform: uppercase;
  font-style: italic;
  padding: 1px;
  text-decoration: underline dotted #bbbbbb;
  text-underline-offset: 4px;
  font-size: 1.2rem;
  margin-top: 6vh;
  margin-left: 2rem;
  display: block;
}

.formHeadingBlock {
  text-transform: uppercase;
  font-style: italic;
  padding: 1px;
  text-decoration: underline dotted #bbbbbb;
  text-underline-offset: 4px;
  font-size: 1.2rem;
  margin-top: 10vh;
  margin-left: 2rem;
  display: none;
}

@media (max-width: 1050px) {
  .formHeadingBlock {
    display: block;
    margin-top: 35vh;
  }
}
@media (max-width: 1050px) {
  .formHeading {
    display: none;
  }
}

@media (max-width: 800px) {
  .formHeadingBlock {
    margin-top: 45vh;
  }
}

.btnSubmitForm {
  width: 10vw;
  font-size: 0.9rem;
  height: 6vh;
  text-transform: uppercase;
  border: 1px solid #dbdbdb;
}

@media (max-width: 1050px) {
  .btnSubmitForm {
    width: 16vw;
  }
}

@media (max-width: 800px) {
  .btnSubmitForm {
    width: 25vw;
  }

  input,
  textarea {
    padding: 16px;
    border: 0;
    width: 80%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: #dbdbdb;
    opacity: .8;
    border-radius: 16px;
}
}

@media (max-width: 475px) {
  .btnSubmitForm {
    width: 35vw;
  }
}

@media (max-width: 380px) {
  .btnSubmitForm {
    font-size: 0.8rem;
    height: 7.5vh;
  }
}

@media (max-width: 350px) {
  .btnSubmitForm {
    width: 45vw;
  }

  input,
  textarea {
    padding: 16px;
    border: 0;
    width: 90%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: #dbdbdb;
    opacity: .8;
    border-radius: 16px;
}
}

.inquireOrder {
  display: flex;
  width: 100%;
}

@media (max-width: 1050px) {
  .inquireOrder {
    display: block;
    margin-top: 25vh;
  }
}

.btnOrderForm {
  width: 10vw;
  font-size: 0.9rem;
  height: 6vh;
  text-transform: uppercase;
  border: 1px solid #dbdbdb;
  background-color: #2d2d2d;
  color: gold;
  opacity: .8;
  border-radius: 16px;
  align-self: flex-end;
  justify-self: flex-end;
  float: right;
}

.formContainer {
  width: 80%;
  padding: 1rem;
}

.orderContainer {
  width: 50%;
  display: block;
  padding-right: 5rem;
  padding-top: 1rem;
}

.inquiryDetails {
  margin-bottom: 5vh;
  color: #dbdbdb;
  font-size: 1.5rem;
  width: 80%;
}

.orderDetails {
  text-align: right;
  margin-bottom: 5vh;
  color: #dbdbdb;
  font-size: 1.5rem;
}

@media (max-width: 1050px) {
  .orderDetails {
    margin-bottom: 2vh;
  }
  .btnOrderForm {
    width: 15vw;
    height: 4.5vh;
  }

  .detailsFooter {
    margin-top: 10vh;
  }
}

@media (max-width: 800px) {
  .detailsFooter {
    margin-top: 15vh;
  }

  .btnOrderForm {
    width: 20vw;
    height: 6.5vh;
  }
}

@media (max-height: 600px) {
  .detailsFooter {
    margin-top: 15vh;
  }

  .btnOrderForm {
    width: 15vw;
    height: 7.5vh;
  }

  .formHeadingBlock {
    margin-top: 52vh;
  }
}

@media (max-width: 800px) {
  .btnOrderForm {
    width: 35vw;
    height: 6.5vh;
  }
}

.detailAccessories {
  display: flex;
}

@media (max-width: 800px) {
  .detailAccessories {
    display: block;
  }
}

.accessoriesCol {
  margin-right: 100px;
  align-items: center;
  align-content: center;
  justify-content: center;
  vertical-align: middle;
}

.accessoriesCol2 {
  margin-right: 30px;
}

.accessoriesCol > p {
  text-align: left;
  width: 250px;
  height: 30px;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  position: relative;
}

.accessoriesCol2 > p {
  text-align: left;
  width: 250px;
  height: 30px;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
}



.accessoriesCheck {
  margin-left: 20px;
  margin-top: 30px;
  justify-self: center;
  align-self: center;
  vertical-align: middle;
  width: 50px !important;
}

@media (min-width: 520px) {
  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: none;
  }
}

@media (min-width: 1027px) {
  .containerSigned {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 1026px)   {
  .containerSigned {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: block;
  }

  .navbarSigned {
    width: 100%;
    box-shadow: 0 1px 4px rgba(166, 188, 202, 0.15);
  }

  .nav-containerSigned {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbarSigned .menu-itemsSigned {
    display: flex;
  }

  .navbarSigned .nav-containerSigned li {
    list-style: none;
  }

  .navbarSigned .nav-containerSigned a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbarSigned .nav-containerSigned a:hover{
      font-weight: bolder;
  }

  .nav-containerSigned {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-containerSigned .checkbox {
    position: absolute;
    display: block;
    margin-top: -10px;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-containerSigned .hamburger-linesSigned {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-containerSigned .hamburger-linesSigned .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fafafa;
  }

  .nav-containerSigned .hamburger-linesSigned .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-containerSigned .hamburger-linesSigned .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-containerSigned .hamburger-linesSigned .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbarSigned .menu-itemsSigned {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.829);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: black;
    z-index: 10;
  }

  .navbarSigned .menu-itemsSigned li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
  }

  li a {
    text-decoration: none;
    color: white;
    list-style: none;
    list-style-type: none;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }


  .nav-containerSigned input[type="checkbox"]:checked ~ .menu-itemsSigned {
    transform: translateX(0);
  }

  .nav-containerSigned input[type="checkbox"]:checked ~ .hamburger-linesSigned .line1 {
    transform: rotate(45deg);
  }

  .nav-containerSigned input[type="checkbox"]:checked ~ .hamburger-linesSigned .line2 {
    transform: scaleY(0);
  }

  .nav-containerSigned input[type="checkbox"]:checked ~ .hamburger-linesSigned .line3 {
    transform: rotate(-45deg);
  }

  .nav-containerSigned input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 746px) {

  .container {
    max-width: 1050px;
    width: 100%;
    margin: auto;
    display: block;
  }

  .navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgba(166, 188, 202, 0.15);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover{
      font-weight: bolder;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    margin-top: -10px;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fafafa;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.829);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: black;
    z-index: 10;
  }

  .navbar .menu-itemsClosed {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.829);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
    background-color: black;
    z-index: 10;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }


  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
}
@media (min-width: 200px) and (max-width: 646px) {
  #mainHomeBtn {
    display: none;
  }

  .subTextWrap {
    display: none;
  }
}

.signUpContainer {
  width: 100%;
  display: flex;
}

.signUpInner {
  width: 500px;
  height: 80vh;
  margin: 0 auto;
  background-color: #2a2a2a;
  padding: 1.5rem;
  margin-top: 8vh;
  border-radius: 80px;
  border: 2px gold solid;
  box-shadow: 5px 5px 17px 5px #565656;
  position: relative;
}

.signUpHeading {
  text-align: center;
}

.sideSignUp {
  display: none;
}

.signUpForm {
  width: 90%;
  padding: 1.5rem;
}

.inputSignUp {
  display: block;
  width: 90%;
  padding: 6px;
  height: 4vh;
  background-color: #535353;
}

.switchLink {
  text-decoration: dotted;
  text-decoration-line: underline;
  color: gold;
  cursor: pointer;
  
}

.inputSignUpBtn {
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 120px;
  padding: 10px;
  background-color:#535353;
  border-radius: 15px;
  /* border: 1px gold solid; */
  border: none;
  color: gold;
  text-transform: uppercase;
  font-weight: 600;
}

.bottomBtn {
  align-self: center;
  margin-top: 0;
  text-align: center;
  margin-left: 33%;
  padding: 10px;
  background-color: #535353;
  border-radius: 15px;
  /* border: 1px gold solid; */
  border: none;
  color: gold;
}

.signedInMessage {
  width: 100vh;
  height: 100vh;
}

.signedHeading {
  margin-top: 10vh;
  text-align: center;
}

.backBtnSigned {
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-left: 33%;
  padding: 10px;
  background-color: #535353;
  border-radius: 15px;
  /* border: 1px gold solid; */
  border: none;
  color: #ffd700;
}


@media (min-width: 950px) {
  .sideSignUp {
    display: block;
    margin: 0;
    width: 25vw;
    height: 100vh;
    background-image: url('./images/others/signupamg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

@media (min-height: 560px) and (max-height: 660px) {
  .signUpInner {
    height: 95vh;
  }
}

@media (min-height: 200px) and (max-height: 599px) {
  .signUpInner {
    height: 145vh;
  }
}

.iconWrap {
  width: 30px;
  height: 80%;
  text-align: left;
  margin-bottom: 0;
}

.iconImg {
  width: 70px;
  height: auto;
  margin-left: -210px;
  margin-top: -10px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.errormsg {
  color: rgb(171, 63, 63);
}