@use './breakpoints';
@import 'colors';


.form-body {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    justify-content: center;
    position: relative;
}

.form-container-section {
    height: 90vh;
    width: 65%;
    display: block;
    box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
    position: relative;
    margin-left: 17.5%;
    margin-top: 6vh;
    border-radius: 2rem;
    
}

.form-heading {
    padding-top: 3%;
    padding-left: 3%;
    font-size: 55px;
    background: -webkit-linear-gradient($primary, $secondary);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.form-content {
    align-items: flex-start;
    display: block;
    width: 100%;
} 

.form-inner {
    margin: 0
}

.form-input {
    padding-bottom: 1.4rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid black !important;
}

#details {
    padding-bottom: 1.4rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid black !important;
    resize: none;
}

#default-opt {
    color: red;
}

.expandable {
    color: red;
    font-weight: 500;
    font-size: 11px;
}

.g-recaptcha {
    width: 50%;
    float: left;
}

.form-input-btn {
    width: 18%;
    padding: 1.2rem;
    border-radius: 45px;
    margin-right: 10%;
    margin-top: 1%;
    float: right;
    background: -webkit-linear-gradient($primary, $secondary);
    color: white;
    font-weight: 600;
    font-size: 18px;
    border: none;

    &-sending {
        @extend .form-input-btn;
        width: 20% !important;
    }
}

::-webkit-input-placeholder {
    color: $secondary;
    font-size: 16px;
    opacity: 0.6;
  }
  
  :-ms-input-placeholder {
    color:$secondary;
    font-size: 16px;
    opacity: 0.6;
  }
  
  ::placeholder {
    color: $secondary;
    font-size: 16px;
    opacity: 0.6;
  }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

  .form-item {
      margin-bottom: 2%;
      position: relative;
  }

  .error-text {
      color: red;
      font-weight: 300;
  }

  .thank-you-text {
      font-size: 5rem;
      text-align: center;
      padding-top: 10%;
      background: -webkit-linear-gradient($primary, $secondary);
      background-clip: unset;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
  }

  .thank-you-details {
      width: 100%;
      text-align: left;
  }

  .thank-you-message {
      font-size: 2.3rem;
      font-weight: 300;
      padding: 2rem;
  }

  .back-home-btn {
    border-radius: 1.5rem;
    width: 12vw;
    height: 6vh;
    padding-top: 1.2rem;
    padding-bottom: 2.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: linear-gradient(45deg, $primary, $secondary);
    color: white;
    position: relative;
    text-align: center;
    justify-content: center;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-left: 40%;
  }

  @include breakpoints.mdl {
    .form-input-btn {
        width: 22%;
        padding: 1.2rem;
        border-radius: 45px;
        margin-right: 16%;
        margin-top: 1%;
        float: right;
        background: -webkit-linear-gradient($primary, $secondary);
        color: white;
        font-weight: 600;
        font-size: 18px;
        border: none;
    
        &-sending {
            padding: 1.2rem;
            border-radius: 45px;
            margin-right: 16%;
            margin-top: 1%;
            float: right;
            background: -webkit-linear-gradient($primary, $secondary);
            color: white;
            font-weight: 600;
            font-size: 18px;
            border: none;
            width: 20% !important;
        }
    }

    .thank-you-message {
        font-size: 1.8rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 5vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 22vw;
        height: 8vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 700;
        margin-left: 32%;
      }
  }

  @include breakpoints.mdm {
    .form-input-btn {
        width: 28%;
        padding: 1.2rem;
        border-radius: 45px;
        margin-right: 18%;
        margin-top: 2%;
        float: right;
        background: -webkit-linear-gradient($primary, $secondary);
        color: white;
        font-weight: 600;
        font-size: 17px;
        border: none;
    
        &-sending {
            padding: 1.2rem;
            border-radius: 45px;
            margin-right: 22%;
            margin-top: 1%;
            float: right;
            background: -webkit-linear-gradient($primary, $secondary);
            color: white;
            font-weight: 600;
            font-size: 18px;
            border: none;
            width: 20% !important;
        }
    }

    .form-container-section {
        height: 90vh;
        width: 65%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 17.5%;
        margin-top: 6vh;
        border-radius: 2rem;
        
    }

    .thank-you-text {
        font-size: 4rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .thank-you-message {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 5vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 22vw;
        height: 8vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 700;
        margin-left: 32%;
      }
  }

@include breakpoints.smm {
    .form-container-section {
        height: 80vh;
        width: 65%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 17.5%;
        margin-top: 6vh;
        border-radius: 2rem;
        
    }

    .form-heading {
        padding-top: 3%;
        padding-left: 3%;
        font-size: 45px;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .form-input {
        padding-bottom: 2rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
    }

    .form-input-btn {
        width: 30%;
        padding: 1.2rem;
        border-radius: 45px;
        margin-right: 16%;
        margin-top: 3%;
        float: right;
        background: -webkit-linear-gradient($primary, $secondary);
        color: white;
        font-weight: 600;
        font-size: 17px;
        border: none;
    
        &-sending {
            padding: 1.2rem;
            border-radius: 45px;
            margin-right: 16%;
            margin-top: 1%;
            float: right;
            background: -webkit-linear-gradient($primary, $secondary);
            color: white;
            font-weight: 600;
            font-size: 17px;
            border: none;
            width: 20% !important;
        }
    }

    .thank-you-text {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
  
    .thank-you-details {
        width: 100%;
    }
  
    .thank-you-message {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 12vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 36vw;
        height: 8vh;
        padding-top: 1.2rem;
        padding-bottom: 1.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 15px;
        font-weight: 700;
        margin-left: 20%;
      }
}

@include breakpoints.ssm {
    .form-input-btn {
        width: 40%;
        padding: 1.2rem;
        border-radius: 45px;
        margin-right: 16%;
        margin-top: 3%;
        float: right;
        background: -webkit-linear-gradient($primary, $secondary);
        color: white;
        font-weight: 600;
        font-size: 17px;
        border: none;
    
        &-sending {
            padding: 1.2rem;
            border-radius: 45px;
            margin-right: 16%;
            margin-top: 1%;
            float: right;
            background: -webkit-linear-gradient($primary, $secondary);
            color: white;
            font-weight: 600;
            font-size: 17px;
            border: none;
            width: 44% !important;
        }
    }

    .form-heading {
        padding-top: 3%;
        padding-left: 3%;
        font-size: 32px;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }

    .thank-you-text {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
  
    .thank-you-details {
        width: 100%;
    }
  
    .thank-you-message {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 12vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 36vw;
        height: 8vh;
        padding-top: 1.2rem;
        padding-bottom: 1.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 15px;
        font-weight: 700;
        margin-left: 20%;
      }
}

@include breakpoints.xsm {
    .form-container-section {
        height: 80vh;
        width: 85%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 7.5%;
        margin-top: 6vh;
        border-radius: 2rem;
        
    }

    .form-input-btn {
        width: 48%;
        padding: 1rem;
        border-radius: 45px;
        margin-right: 16%;
        margin-top: 3%;
        float: right;
        background: -webkit-linear-gradient($primary, $secondary);
        color: white;
        font-weight: 600;
        font-size: 17px;
        border: none;
    
        &-sending {
            padding: 1rem;
            border-radius: 45px;
            margin-right: 16%;
            margin-top: 3%;
            float: right;
            background: -webkit-linear-gradient($primary, $secondary);
            color: white;
            font-weight: 600;
            font-size: 17px;
            border: none;
            width: 55% !important;
        }
    }

    .thank-you-text {
        font-size: 2.8rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
  
    .thank-you-details {
        width: 100%;
    }
  
    .thank-you-message {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 12vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 36vw;
        height: 7.5vh;
        padding-top: 1.2rem;
        padding-bottom: 1.8rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 15px;
        font-weight: 700;
        margin-left: 28.5%;
      }
}

@include breakpoints.xms {
    .form-container-section {
        height: 80vh;
        width: 85%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 7.5%;
        margin-top: 6vh;
        border-radius: 2rem;  
    }

    .thank-you-text {
        font-size: 2.3rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
  
    .thank-you-details {
        width: 100%;
    }
  
    .thank-you-message {
        font-size: 1.3rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 10vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 35vw;
        height: 6vh;
        padding-top: 0.75rem;
        padding-bottom: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 12px;
        font-weight: 700;
        margin-left: 30%;
      }
}

@include breakpoints.xhmx {
    .form-input {
        padding-bottom: 3.6rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
    }
    
    #details {
        padding-bottom: 3.6rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
        resize: none;
    }

    .thank-you-text {
        font-size: 2.4rem;
        text-align: center;
        padding-top: 10%;
        background: -webkit-linear-gradient($primary, $secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 800;
    }
  
    .thank-you-details {
        width: 100%;
    }
  
    .thank-you-message {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 10vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 33vw;
        height: 6vh;
        padding-top: 1.2rem;
        padding-bottom: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 700;
        margin-left: 28.5%;
      }
}

@include breakpoints.lgh {
    .form-container-section {
        height: 70vh;
        width: 85%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 7.5%;
        margin-top: 20vh;
        border-radius: 2rem;  
    }

    .form-input {
        padding-bottom: 3rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
    }
    
    #details {
        padding-bottom: 3rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
        resize: none;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 22vw;
        height: 7.5vh;
        padding-top: 1.2rem;
        padding-bottom: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 18px;
        font-weight: 700;
        margin-left: 36%;
      }
}

@include breakpoints.lghx {
    .form-container-section {
        height: 60vh;
        width: 85%;
        display: block;
        box-shadow: 0 10px 35px 0 rgba(0,0,0,.65);
        position: relative;
        margin-left: 7.5%;
        margin-top: 15vh;
        border-radius: 2rem;  
    }

    .form-input {
        padding-bottom: 3.2rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
    }
    
    #details {
        padding-bottom: 3.2rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
        resize: none;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 15vw;
        height: 6vh;
        padding-top: 1.2rem;
        padding-bottom: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 18px;
        font-weight: 700;
        margin-left: 40%;
      }
}

@include breakpoints.xmh {
    .back-home-btn {
        border-radius: 1.5rem;
        width: 25vw;
        height: 6vh;
        padding-top: 1.2rem;
        padding-bottom: 2.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 17px;
        font-weight: 700;
        margin-left: 32%;
      }
}

@include breakpoints.xss {
    .form-input {
        padding-bottom: 1rem;
        width: 100%;
        border: none;
        border-bottom: 1px solid black !important;
    }
    
    .thank-you-message {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 5vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 33vw;
        height: 8vh;
        padding-top: 1rem;
        padding-bottom: 1.4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 11px;
        font-weight: 700;
        margin-left: 28.5%;
      }
 }

@include breakpoints.xxs {
    
    .thank-you-message {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 5vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 40vw;
        height: 7vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 11px;
        font-weight: 700;
        margin-left: 24%;
      }
}

@include breakpoints.lgw {
    .thank-you-message {
        font-size: 2rem;
        font-weight: 300;
        padding: 2rem;
        margin-top: 5vh;
    }

    .back-home-btn {
        border-radius: 1.5rem;
        width: 15vw;
        height: 8vh;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background: linear-gradient(45deg, $primary, $secondary);
        color: white;
        position: relative;
        text-align: center;
        justify-content: center;
        border: none;
        font-size: 14px;
        font-weight: 700;
        margin-left: 38%;
      }
}