@use 'breakpoints';

.home-navbar {
    width: 100%;
    height: 10vh;
    margin-top: 0;
    display: inline-flex;
    position: relative;
    margin-bottom: 1.5%;
}

.nav-logo {
    position: absolute;
    width: 200px !important;
}

.nav-logo-larger {
    display: none;
}

.hamburger-wrap {
    display: none;
}

.nav-links-wrap {
    display: none;
    height: auto;
    list-style-type: none;
    position: relative;
    align-content: flex-end;
    margin-left: 28%;
}

.nav-link-list {
    padding: 1rem; 
    position: relative;
      
    .nav-link {
        text-decoration: none;
        position: relative;
        font-size: larger;
        font-weight: 500;
    }
}

.menu-slider {
    width: 75%;
    height: 90vh;
    position: relative;
    z-index: 2;
    margin-top: -2%;
    overflow: hidden;
    background-color: #E7E7E7;
    border-radius: 0px 40px 0px 40px;
}

.nav-links-wrap-menu {
    display: block;
    position: relative;
    list-style-type: none;
    align-items: flex-start;
    overflow: hidden;

    &:first-of-type {
        padding-top: 2rem;
    }
}

.nav-link-list-menu {
    text-align: left;
    padding-bottom: 4rem;
    position: relative;
}

.nav-link-menu {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
}


// refer to mixin from the module name
@include breakpoints.xs {
    .home-navbar {
        width: 100%;
        height: 12vh;
        margin-top: 0;
        
    }
    .nav-logo {
        position: relative;
        text-align: center;
        align-self: center;
        justify-content: center;
        justify-self: center;
        margin-left: 30%;
    }  
}

@include breakpoints.xsMax {

    .hamburger-wrap {
        display: inline-flex;
        position: absolute;
        margin-top: 3%;
        padding: 1.2rem;
       }

}

@include breakpoints.md {  
    .nav-logo {
        position: absolute;
        margin-top: -24px;
        margin-left: 20px;
    }

    .home-navbar {
        width: 100%;
        height: 10vh;
        margin-top: 0;
        display: block;
        position: relative;
    }
    
    .nav-links-wrap {
        display: inline-flex;
        height: auto;
        list-style-type: none;
        position: absolute;
        padding: 0;
    }
    
    .nav-link-list {
        position: relative;
          
        .nav-link {
            text-decoration: none;
            position: relative;
            font-size: larger;
            font-weight: 500;
        }
    }
    .menu-slider {
        display: none;
    }
}


@include breakpoints.lg {
    .nav-logo {
        position: absolute;
        margin-top: -1%;

    }

    .nav-links-wrap {
        display: inline-flex;
        height: auto;
        list-style-type: none;
        position: relative;
        padding: 0;
    }
}

@include breakpoints.xlh {
    .home-navbar {
        width: 100%;
        height: 5vh;
    }
}

// ipad
@include breakpoints.mlx {
    .home-navbar {
        width: 100%;
        height: 10vh;
    }
    .nav-links-wrap {
        margin-left: 26%;
    }

    .nav-logo {
        margin-left: -2%;
        margin-top: -1%;
    }
}

// ipad pro
@include breakpoints.xlh {
    .home-navbar {
        width: 100%;
        height: 10vh;
    }

    .nav-links-wrap {
        margin-top: 6%;
        font-size: larger;
    }

    .nav-logo {
        display: none;
    }

    .nav-logo-larger {
        display: inline-flex;
        margin-top: 1%;
        margin-left: 2%;
        position: absolute;
        width: 200px !important;
    }



}
